{% extends 'base.html.twig' %}

{% block title %}Gérer une adresse - Le Patch à la Maison
{% endblock %}

{% block content %}

	<h1>Gérer une adresse</h1>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('account_address') }}">Retour à Mes adresses</a>
		</li>
	</ul>

	{% if notification_success %}
        <div class="alert alert-success">
            {{ notification_success }}
        </div>
    {% endif %}
    {% if notification_error %}
        <div class="alert alert-danger">
            {{ notification_error }}
        </div>
    {% endif %}

	<div class="mb-5">
		{{ form(form) }}
	</div>

		<hr/>

{% endblock %}
