{% extends 'base.html.twig' %}

{% block jumbotron %}{% endblock %}

{% block content %}
        
        <!-- START THE FEATURETTES -->

        <div class="row featurette mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Artisanal</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="../assets/imgs/drape-5078080_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Ecologique</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../assets/imgs/forest-505860_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>                
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Economique</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="../assets/imgs/euro-1130697_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
            </div>
        </div>

        <hr/>

        <!-- /END THE FEATURETTES -->
{% endblock %}