html {
  height: 100% !important;
  position: relative;
}

body {
  min-height: 100% !important;
  margin: 0;
  position: relative;
}

.btn-primary {
  background-color: #f3694b;
  border-color: #f3694b;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #DE4F43;
  border-color: #DE4F43;
}

.btn-primary:focus {
  background-color: #DE4F43;
  border-color: #DE4F43;
  box-shadow: 0 0 0 0.2rem rgb(255 132 105 / 50%);
}

a {
  color: #DE4F43;
}

a:hover {
  color: #DE4F43;
  text-decoration: underline;
}

.font-size-custom {
  font-size: 0.7rem;
}

.navbar-custom {
  background-color: #f3694b;
}

footer.footer-custom {
  position: absolute;
  background-color: #fdf3ef;
  min-width: 100%;
  text-align: center;
  padding-top: 1rem;
  bottom: 0;
}

.nav-user-name {
  display: none;
}

/*
--------------------------------------------------------------------------------------
Shop View
--------------------------------------------------------------------------------------
*/

.product-container{
  margin-bottom: 3rem;
}

.product-item {
  margin-top: 1.2rem;
}

.product-item h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.product-item .product-subtitle {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.product-item .product-price {
  font-size: 0.9rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

/*
--------------------------------------------------------------------------------------
Product View
--------------------------------------------------------------------------------------
*/

.product-page-price {
  font-size: 1.3rem;
}

/*
--------------------------------------------------------------------------------------
Cart View
--------------------------------------------------------------------------------------
*/

i {
  font-size: 1.3rem;
  color: #696969;
}

i.fas.fa-shopping-cart {
  font-size: 1.4rem;
  color: #fff;
}

.cart-total {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-product-price-item {
  font-size: 1.1rem;
  font-weight: bold;
}

.Xthumbnail-custom {
  max-width: 100px;
  max-height: 100px;
}

/*
--------------------------------------------------------------------------------------
Homepage View
--------------------------------------------------------------------------------------
*/

.jumbotron {
  /* background: linear-gradient(135deg, #3023ae, #c86dd7); */
  background: no-repeat url("../imgs/hand-labor-188742_1920.jpg");
  /* color: #DE4F43; */
  /* text-shadow: 1px 1px 2px #696969; */
  padding-bottom: 10%;
}

.jumbotron div.container {
  background-color:rgba(255,255,255,0.8);
  padding-bottom: 1%;
}

/*
--------------------------------------------------------------------------------------
Media Queries
--------------------------------------------------------------------------------------
*/

@media (min-width: 992px) {
  .nav-user-name {
    display: inline;
  }
}