{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - Le Patch à la Maison{% endblock %}

{% block content %}
	<h1>Le Patch à la Maison : qui sommes-nous ?</h1>

	<div class="row mt-5">
		<div class="col-md-7 order-md-2 my-auto text-justify">
			<h2>Sa fondatrice</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="../assets/imgs/buttons-5632641_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-7 my-auto text-justify">
			<h2>Notre histoire</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="../assets/imgs/hands-2261031_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
		</div>
	</div>

	<hr/>

	<div class="row mb-5">
		<div class="col-md-7 order-md-2 my-auto text-justify">
			<h2>Nos engagements</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="../assets/imgs/shop-1611902_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"/>
		</div>
	</div>

	<hr/>

{% endblock %}
