{% extends 'base.html.twig' %}

{% block title %}Contact - Le Patch à la Maison{% endblock %}

{% block content %}

	<h1>Nous contacter</h1>

	<div class="row my-5">
		<div class="col-md-5 my-auto text-lg-right">
			<h2>Le Patch à la Maison</h2>
			<p>14 rue Guillaume le Conquérant</p>
			<p>14000 CAEN</p>
			<p>Tél : 04 04 04 04 04</p>
		</div>
		<div class="col-md-5">
			<img src="../assets/imgs/hand-labor-188742_1920.jpg" class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
		</div>
	</div>

	<hr/>

{% endblock %}
